.star {
  margin: 0;
  padding: 0;

  // background: red;
  //
  // fill: red;
  // stroke: red;
}

.size_s {
  width: 15px;
  height: 15px;
}

.size_m {
  width: 20px;
  height: 20px;
}

.size_l {
  width: 25px;
  height: 25px;
}

.size_xl {
  width: 30px;
  height: 30px;
}

// .selected {
// background: yellowgreen;
// }
