// @import 'app/style/lib/smartgrid.lib';
/* Size */

/* Size S */
.size_s {
  .text {
    font-size: calc(var(--font-size-s) * var(--title-scale-up-50));
    line-height: calc(var(--font-line-s) * var(--title-scale-up-50));
  }
}

/* Size S END */

/* Size M */
.size_m {
  .text {
    font-size: calc(var(--font-size-m) * var(--title-scale-up-100));
    line-height: calc(var(--font-line-m) * var(--title-scale-up-100));
  }
}

/* Size M END */

/* Size L */
.size_l {
  .text {
    font-size: calc(var(--font-size-l) * var(--title-scale-up-150));
    line-height: calc(var(--font-line-l) * var(--title-scale-up-100));
  }
}

/* Size S END */

/* Size XL */
.size_xl {
  .text {
    font-size: calc(var(--font-size-xl) * var(--title-scale-up-150));
    line-height: calc(var(--font-line-xl) * var(--title-scale-up-100));
  }
}

/* Size XL END */

/* Size END */
