/* View */

/* View primary */
.view_primary {
  .text {
    font-weight: 500;
    color: var(--color-primary);
  }
}

.view_primary.inverted {
  .text {
    font-weight: 500;
    color: var(--color-primary-inverted);
  }
}

/* View primary END */

/* View secondary */
.view_secondary {
  .text {
    font-weight: 600;
    color: var(--color-secondary);
  }
}
.view_secondary.inverted {
  .text {
    font-weight: 600;
    color: var(--color-secondary-inverted);
  }
}

/* View section END */

/* View END */
