/* View */

/* View primary */
.view_primary {
  .text {
    font-weight: 500;
    color: var(--color-primary);
  }
}

/* View primary END */

/* View secondary */
.view_secondary {
  .text {
    font-weight: 600;
    color: var(--color-secondary);
  }
}

/* View section END */

/* View END */
