@import 'app/style/mixin';
.drawer {
  @include ts(opacity);

  pointer-events: none;

  position: fixed;
  // z-index: var(--level-b1);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  &_opened {
    pointer-events: auto;
    opacity: 1;
    & .box {
      transform: translateY(0);
    }
  }

  &_closed {
    opacity: 0;
  }

  &_closing {
    & .box {
      transform: translateY(100%);
    }
  }
}

.inner {
  position: relative;
  // z-index: var(--level-1);

  display: flex;
  align-items: flex-end;
  justify-content: center;

  width: 100%;
  height: 100%;
}

.box {
  @include ts(transform);

  position: relative;
  z-index: var(--level-2);
  transform: translateY(100%);

  width: 100%;
  height: 50%;

  background: var(--bg-color-inverted);
}
