@import 'app/style/mixin';
.select {
  margin: 0;
  padding: 0;
}

.inner {
  position: relative;
  display: flex;
}
.select_disabled {
  opacity: 0.5;
}

.control {
  padding: 5px 10px;
  border: 1px solid var(--color-primary);
}
.control_disabled {
  cursor: not-allowed;
}
.list {
  position: absolute;
  z-index: 1000;
  bottom: 0;
  transform: translateY(100%);

  display: flex;
  flex-direction: column;
  gap: 5px;

  min-width: 100%;

  background-color: var(--color-primary);
}
.list_reverse {
  top: 0;
  bottom: auto;
  transform: translateY(-100%);
  flex-direction: column-reverse;
}

.item {
  @include ts(color, background);

  color: var(--color-primary-inverted);
}
.item_disabled {
  cursor: not-allowed;
  opacity: 0.7;
  background: var(--color-passive-600);
}

.item_active {
  background: var(--color-active-400);
}
.item_selected {
  background: var(--color-attantion-400);
}
