// @import 'app/style/mixin';
.link {
  @include ts(background);

  position: relative;

  display: flex;
  gap: 0.5em;
  align-items: center;

  padding: 0.1em 0.5em;

  text-decoration: none;

  border-radius: 0.2em;
}

.icon {
  @include ts(background);
}

.text {
  @include ts(color);
}

.hovered.link {
  cursor: pointer;
  background: var(--bg-color);
}

.hovered .text {
  color: var(--color-primary);
}

.hovered .icon {
  background-color: var(--color-primary);
}

.view_primary {
  color: var(--color-primary);
}

.view_secondary {
  color: var(--color-primary-inverted);
}

.size_s {
  font-size: var(--font-size-s);
  & .icon {
    width: 1em;
    height: 1em;
  }
}

.size_m {
  font-size: var(--font-size-m);
  & .icon {
    width: 1em;
    height: 1em;
  }
}

.size_l {
  font-size: var(--font-size-l);
  & .icon {
    width: 1em;
    height: 1em;
  }
}

.size_xl {
  font-size: var(--font-size-xl);
  & .icon {
    width: 1em;
    height: 1em;
  }
}
