.link {
  text-decoration: none;
}

.view_primary {
  color: var(--color-primary);
}

.view_secondary {
  color: var(--color-primary-inverted);
}

.size_s {
  font-size: var(--font-size-s);
}

.size_m {
  font-size: var(--font-size-m);
}

.size_l {
  font-size: var(--font-size-l);
}

.size_xl {
  font-size: var(--font-size-xl);
}
