.theme.theme_dark {
  --color-primary: #049604;
  --color-secondary: #04ff04;
  --color-primary-inverted: #0232c2;
  --color-secondary-inverted: #0449e0;
  --color-shadow: rgba(255, 255, 255, 0.1);
  --color-shadow-inverted: rgba(0, 0, 0, 0.1);
  --color-tertiary: #c90076;
  --color-active: #ca660c;
  --bg-color: #090949;
  --bg-color-inverted: #e8e8ea;
  --color-theme-switch: #0000cd;
}
