:root {
  --color-light: #fff;

  --color-active-300: #ff8952;
  --color-active-400: #ff7536;
  --color-active-500: #ca660c;
  --color-active-600: #b55c0b;

  --color-attantion-300: #ff63ce;
  --color-attantion-400: #fa00ab;
  --color-attention-500: #ff0000;
  --color-attention-600: #e60000;

  --color-success-400: #72ff36;
  --color-success-500: #04ff04;
  --color-success-600: #3dcc00;

  --color-passive-300: #f2f2f2;
  --color-passive-400: #d4d4d4;
  --color-passive-500: #c9c9c9;
  --color-passive-600: #bfbfbf;
}
