.app {
  font: var(--font-m);
  background: var(--bg-color);
  color: var(--color-primary);
  min-height: 100vh;
}

.inner {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100vh;
}

.boxNavbar {
  width: 100%;
  height: var(--navbar-height);
}



.boxMain {
  flex-grow: 1;
  display: flex;

  // padding: 15px;
}
.boxSidebar {
  padding: 0;
  display: flex;

  transition: width 0.25s;
  background-color: red;
}

.boxSidebar_open{
  width: var(--sidebar-width-open);
}

.boxSidebar_collapse{
  width: var(--sidebar-width-collapsed);
}

.boxContent {
  flex-grow: 1;
}

.boxFooter {
  width: 100%;
  height: var(--footer-height);
}
