.app {
  font: var(--font-m);
  background: var(--bg-color);
  color: var(--color-primary);
  min-height: 100vh;
}

.inner {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100vh;
}

.boxNavbar {
  width: 100%;
  height: var(--navbar-height);
}


.boxMain {
  height: 100%;
  flex-grow: 1;
  padding: 15px;
}
.boxSidebar {
  width: var(--sidebar-width);
}

.boxFooter {
  width: 100%;
  height: var(--footer-height);
}
