.notification {
  margin: 0;
  padding: 0;
}

.inner {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 5px;

  max-height: 200px;
  padding: 5px;
}

.item {
  padding: 5px;
  border: 1px solid var(--color-primary-inverted);
  border-radius: var(--radius-size-l);
}
