.sidebar {
  background-color: var(--bg-color-inverted) ;

}

.inner {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.boxNav {
  display: flex;
  flex-grow: 1;

}

.boxFooter {
  display: flex;
  gap:15px;
  align-items: center;
  justify-content: center;

  /* height: 50px; */
}

/* .collapsed { */

/*   padding: 10px; */

/* } */

