.shape_main {
  // Размеры
  &.size_s {
    border-radius: 30px;
  }

  &.size_m {
    border-radius: 40px;
  }

  &.size_l {
    border-radius: 50px;
  }

  &.size_xl {
    border-radius: 60px;
  }

  // Размеры с иконкой
  &.size_s .icon:has(+ .text) {
    margin-right: 6px;
    margin-left: 12px;
  }
  &.size_s .text + .icon {
    margin-right: 12px;
    margin-left: 6px;
  }

  &.size_s .icon:not(:has(+ .text)) {
    margin: 6px;
  }

  &.size_m .icon:has(+ .text) {
    margin-right: 7px;
    margin-left: 14px;
  }
  &.size_m .text + .icon {
    margin-right: 14px;
    margin-left: 7px;
  }

  &.size_m .icon:not(:has(+ .text)) {
    margin: 7px;
  }

  &.size_l .icon:has(+ .text) {
    margin-right: 7.5px;
    margin-left: 15px;
  }

  &.size_l .text + .icon {
    margin-right: 15px;
    margin-left: 7.5px;
  }

  &.size_l .icon:not(:has(+ .text)) {
    margin: 7.5px;
  }

  &.size_xl .icon:has(+ .text) {
    margin-right: 9px;
    margin-left: 18px;
  }

  &.size_xl .text + .icon {
    margin-right: 18px;
    margin-left: 9px;
  }

  &.size_xl .icon:not(:has(+ .text)) {
    margin: 9px;
  }
}

.shape_next {
  // Размеры
  &.size_s {
    border-radius: 2px;
  }

  &.size_m {
    border-radius: 4px;
  }

  &.size_l {
    border-radius: 6px;
  }

  &.size_xl {
    border-radius: 8px;
  }

  // Размеры с иконкой
  &.size_s .icon:has(+ .text) {
    margin-right: 6px;
    margin-left: 12px;
  }
  &.size_s .text + .icon {
    margin-right: 12px;
    margin-left: 6px;
  }

  &.size_m .icon:has(+ .text) {
    margin-right: 7px;
    margin-left: 14px;
  }
  &.size_m .text + .icon {
    margin-right: 14px;
    margin-left: 7px;
  }

  &.size_l .icon:has(+ .text) {
    margin-right: 7.5px;
    margin-left: 15px;
  }
  &.size_l .text + .icon {
    margin-right: 15px;
    margin-left: 7.5px;
  }

  &.size_xl .icon:has(+ .text) {
    margin-right: 9px;
    margin-left: 18px;
  }
  &.size_xl .text + .icon {
    margin-right: 18px;
    margin-left: 9px;
  }
}

.shape_flat {
  // Размеры
  &.size_s {
    line-height: 13px;
    border-radius: 2px;
  }

  &.size_s .text {
    margin: 2px;
  }

  // =========.....=========
  &.size_m {
    line-height: 13px;
    border-radius: 4px;
  }

  &.size_m .text {
    margin: 3px;
  }

  // =========.....=========
  &.size_l {
    line-height: 14px;
    border-radius: 6px;
  }

  &.size_l .text {
    margin: 4px;
  }

  // =========.....=========
  &.size_xl {
    line-height: 16px;
    border-radius: 8px;
  }

  &.size_xl .text {
    margin: 5px;
  }

  // Размеры с иконкой
  &.size_s .icon:has(+ .text) {
    margin-right: 1px;
    margin-left: 2px;
  }

  &.size_s .text + .icon {
    margin-right: 2px;
    margin-left: 1px;
  }

  &.size_s .icon + .text {
    margin-right: 2px;
    margin-left: 1;
  }

  &.size_s .text:has(+ .icon) {
    margin-right: 0;
    margin-left: 2px;
  }

  // =========.....=========
  &.size_m .icon:has(+ .text) {
    margin-right: 2px;
    margin-left: 4px;
  }

  &.size_m .text:has(+ .icon) {
    margin-right: 0;
    margin-left: 4px;
  }

  &.size_m .icon + .text {
    margin-right: 4px;
    margin-left: 0;
  }

  &.size_m .text + .icon {
    margin-right: 4px;
    margin-left: 2px;
  }

  // =========.....=========
  &.size_l .icon:has(+ .text) {
    margin-right: 2.5px;
    margin-left: 5px;
  }

  &.size_l .text + .icon {
    margin-right: 5px;
    margin-left: 2.5px;
  }

  &.size_l .icon + .text {
    margin-right: 5px;
    margin-left: 0;
  }

  &.size_l .text:has(+ .icon) {
    margin-right: 0;
    margin-left: 5px;
  }

  // =========.....=========
  &.size_xl .icon:has(+ .text) {
    margin-right: 4.5px;
    margin-bottom: 30px;
    margin-left: 9px;
  }

  &.size_xl .text + .icon {
    margin-right: 9px;
    margin-left: 4.5px;
  }

  &.size_xl .icon + .text {
    margin-right: 9px;
    margin-left: 0;
  }

  &.size_xl .text:has(+ .icon) {
    margin-right: 0;
    margin-left: 9px;
  }
}
