@import 'app/style/mixin';
.dropDown {
  margin: 0;
  padding: 0;
}

.inner {
  position: relative;
  display: flex;
}

// .control {
//   padding: 5px 10px;
//   border: 1px solid var(--color-primary);
// }
.list {
  position: absolute;
  z-index: 1000;
  bottom: 0;
  transform: translateY(100%);

  display: flex;
  flex-direction: column;
  gap: 5px;

  min-width: 100%;

  background-color: var(--color-primary);
}

// State
.dropDown.select_disabled {
  opacity: 0.5;
  & .control {
    cursor: not-allowed;
  }
}
.dropDown.select_reverse {
  .list {
    top: 0;
    bottom: auto;
    transform: translateY(-100%);
    flex-direction: column-reverse;
  }
}
.item {
  @include ts(color, background);

  color: var(--color-primary-inverted);
}
