.button {
  margin: 0;
  padding: 0;
}
.themeSwitcher {
  padding: 0;
}

.inner {
  display: flex;
  align-items: center;
}

.icon {
  width: 24px;
  height: 24px;

  &_light {
    background-color: var(--color-theme-switch);
  }

  &_dark {
    background-color: var(--color-theme-switch);
  }
}
