.navbar {
  background-color: var(--bg-color-inverted);
}

.inner {
  display: flex;
  gap: 15px;
  align-items: center;

  height: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.themeSwitcher {
  width: 100px;
}

.menu {
  display: flex;
  flex-grow: 1;
  gap: 15px;
  align-items: center;
  justify-content: flex-end;
}
.slogan {
  background: var(--bg-color);
}

.create {
  background: var(--bg-color);
}
