.icon {
  display: inline-block;

  min-width: 0.5em;
  margin: 0;
  padding: 0;

  text-align: center;

  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;

  -webkit-mask-position: 50%;

  mask-position: 50%;
  -webkit-mask-repeat: no-repeat;

  mask-repeat: no-repeat;
  -webkit-mask-size: contain;

  mask-size: contain;
}

.icon:empty::after {
  content: '\00A0';
  visibility: hidden;
}

.icon > img,
.icon > svg {
  margin: -5.15em 0 -5em;
  vertical-align: middle;
}

/* Icon svg example */

/* Не задаются размеры - блок icon не используется отдельно */

/* Используется в качестве вспомогательного, декоративного элемента */

/* Размеры получает через блок родителя, например button */

/* Если svg то красить тоже лучше через родителя, это дает большую гибкости */
/* и позволяет легко задавать цвет для hover */
/* и использовать иконки разных цветов в разных местах*/

.icon.icon_notify {
  -webkit-mask-image: url('../../../asset/icon/icon-notify.svg');
  mask-image: url('../../../asset/icon/icon-notify.svg');
}

.icon.icon_theme {
  -webkit-mask-image: url('../../../asset/icon/theme-light.svg');
  mask-image: url('../../../asset/icon/theme-light.svg');
}

.icon.icon_burger {
  -webkit-mask-image: url('../../../asset/icon/icon-menu-burger.svg');
  mask-image: url('../../../asset/icon/icon-menu-burger.svg');

  // &_collapsed {
  //   background-color: var(--color-tertiary);
  // }

  // &_expanded {
  //   background-color: var(--color-active);
  // }
}

.icon.icon_menu {
  background-color: var(--color-theme-switch);
  &_home {
    -webkit-mask-image: url('../../../asset/icon/icon-home.svg');
    mask-image: url('../../../asset/icon/icon-home.svg');
  }

  &_about {
    -webkit-mask-image: url('../../../asset/icon/icon-about.svg');
    mask-image: url('../../../asset/icon/icon-about.svg');
  }

  &_profile {
    -webkit-mask-image: url('../../../asset/icon/icon-profile.svg');
    mask-image: url('../../../asset/icon/icon-profile.svg');
  }

  &_feed {
    -webkit-mask-image: url('../../../asset/icon/icon-feed.svg');
    mask-image: url('../../../asset/icon/icon-feed.svg');
  }
}

.icon.icon_eye {
  -webkit-mask-image: url('../../../asset/icon/icon-eye.svg');
  mask-image: url('../../../asset/icon/icon-eye.svg');
}

.icon.icon_calendar {
  -webkit-mask-image: url('../../../asset/icon/icon-calendar.svg');
  mask-image: url('../../../asset/icon/icon-calendar.svg');
}

.icon.icon_view_row {
  -webkit-mask-image: url('../../../asset/icon/icon-view-row.svg');
  mask-image: url('../../../asset/icon/icon-view-row.svg');
}

.icon.icon_view_tile {
  -webkit-mask-image: url('../../../asset/icon/icon-view-tile.svg');
  mask-image: url('../../../asset/icon/icon-view-tile.svg');
}
