.icon {
  display: inline-block;

  min-width: 0.5em;
  margin: 0;
  padding: 0;

  text-align: center;

  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;

  -webkit-mask-position: 50%;

  mask-position: 50%;
  -webkit-mask-repeat: no-repeat;

  mask-repeat: no-repeat;
  -webkit-mask-size: contain;

  mask-size: contain;
}

.icon:empty::after {
  content: '\00A0';
  visibility: hidden;
}

.icon > img,
.icon > svg {
  margin: -5.15em 0 -5em;
  vertical-align: middle;
}

/* Icon svg example */

/* Не задаются размеры - блок icon не используется отдельно */

/* Используется в качестве вспомогательного, декоративного элемента */

/* Размеры получает через блок родителя, например button */

.icon.icon_twitter {
  // background-image: url('/img/regular/icon/icon_twitter.svg');
}

.icon.icon_theme {
  // background-image: url('../../asset/icon/user_new.png');  // Используйте правильный относительный путь  // Используйте правильный относительный путь
  -webkit-mask-image: url('../../../asset/icon/theme-light.svg');
  mask-image: url('../../../asset/icon/theme-light.svg');

  &_light {
    background-color: var(--color-theme-switch);
  }

  &_dark {
    background-color: var(--color-theme-switch);
  }
}
